<table class="tx-web-model-import" >
	<tr>
		<td>
			<f:translate key="tx_webmodelimport_domain_model_address.name" />
		</td>
		<td>
			{address.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_webmodelimport_domain_model_address.street" />
		</td>
		<td>
			{address.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_webmodelimport_domain_model_address.zipcode" />
		</td>
		<td>
			{address.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_webmodelimport_domain_model_address.city" />
		</td>
		<td>
			{address.city}
		</td>
	</tr>
</table>